.navbar .navbar-nav > li > a:hover,.navbar .navbar-nav > li > a:active, .navbar .navbar-nav > li > a:focus {
    background-color: lightgrey;
}
.uppernav{
	padding-top: 0!important;
	padding-bottom: 0!important;
	border-bottom: solid 1px grey;
}
.active{
	background-color: darkgrey!important;
}

.content{
	margin-top: 5px;
	margin: 10!important;
	padding-left: 50px!important;
	padding-right: 50px!important;
	padding-top: 5px;
	overflow: hidden;
}
.btn{
outline: none;
box-shadow:none !important;
border:none !important;
}
.user_block{
	float: left;
	display: inline-block;
	padding: 10px;
	text-align: center;
	width: 300px;
	border-radius: 5px;
	border: solid 1px grey;
}
.achieves_block{
	float:right;
	padding-top: 0;
	display: inline-block;
	padding: 10px;
	text-align: center;
	width: calc(100% - 350px);
	border-radius: 5px;
	border: solid 1px grey;
	min-height: 500px;
}
.loginDiv, .registerDiv{
	display: inline-block!important;
	border-radius: 5px;
	background-color: white;
	margin: 30px;
	padding: 20px;
	color: grey;
	border: solid 1px;
}