<nav class="navbar navbarbot navbar-expand-lg navbar-light bg-blue">
  <div class="collapse collapsebot navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mx-auto">
      <li class="nav-item active">
        <button type="button" id="karate_type" class="btn optionListBtn">Карате</button>
      </li>
      <li class="nav-item">
        <button type="button" id="creation_type" class="btn optionListBtn">Творчество</button>
      </li>
      <li class="nav-item">
        <button type="button" id="learning_type" class="btn optionListBtn">Учеба</button>
      </li>
      <li class="nav-item">
        <button type="button" id="network_type" class="btn optionListBtn">Соц. сети</button>
      </li>
      <li class="nav-item">
        <button type="button" id="events_type" class="btn optionListBtn">Мероприятия</button>
      </li>
      <li class="nav-item">
        <button type="button" id="mindClub_type" class="btn optionListBtn">Интелектуальный клуб</button>
      </li>
      <li class="nav-item">
        <button type="button" id="business_type" class="btn optionListBtn">Бизнес</button>
      </li>
      <li class="nav-item">
        <button type="button" id="lifeStyle_type" class="btn optionListBtn">Стиль жизни</button>
      </li>
      <li class="nav-item">
        <button type="button" id="collective_type" class="btn optionListBtn">Коллектив</button>
      </li>
      <li class="nav-item">
        <button type="button" id="improving_type" class="btn optionListBtn">Система роста</button>
      </li>
      <li class="nav-item">
        <button type="button" id="else_type" class="btn optionListBtn">Другое</button>
      </li>
    </ul>
  </div>
</nav>